* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav {
    width: 100%;
    height: 3rem;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
}
body > div{
    width: 100%;
    min-height: 600px;
    /* background-color: green; */
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container{
    background-color: white;
    min-height: 10rem;
    min-width: 10rem;
    padding: 15px;
    box-shadow: rgb(202, 202, 202) 5px 5px 10px;
}
.center_strip{
    width: 56%;
    min-height: 500px;
    height: 100%;
    height: auto;
    border: solid black 2px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.side_strip{
    width: 22%;
    height: 100%;
    min-height: 500px;
    height: auto;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* The pools current availability*/
.slot_availability{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.slot_availability > span{
    width: 100%;
    height: 15rem;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
}
.slot_availability > span .slot{
    flex-grow: 1;
    height: 100%;
    background-color: rgb(207, 24, 0);
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


/* The users reservation card */
.reservation {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.reservation > h3, h5 {
    margin: 10px;
}

/* The users statistics card */
.personal_stats {
    width: 35%;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
}

